
USE [AdvanceDB]
GO
GRANT VIEW ANY COLUMN ENCRYPTION KEY DEFINITION TO [public] AS [dbo]
GO
GRANT VIEW ANY COLUMN MASTER KEY DEFINITION TO [public] AS [dbo]
GO
/****** Object:  Table [dbo].[Advance]    Script Date: 19.12.2023 13:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Advance]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Advance](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AdvanceAmount] [money] NULL,
	[AdvanceDescription] [nvarchar](max) NULL,
	[ProjectID] [int] NULL,
	[DesiredDate] [datetime] NULL,
	[StatusID] [int] NOT NULL,
	[RequestDate] [datetime] NULL,
	[EmployeeID] [int] NULL,
 CONSTRAINT [PK_Advance] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Advance] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[AdvanceHistory]    Script Date: 19.12.2023 13:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AdvanceHistory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AdvanceHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StatusID] [int] NULL,
	[AdvanceID] [int] NULL,
	[TransactorID] [int] NULL,
	[ApprovedAmount] [money] NULL,
	[Date] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_AdvanceHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[AdvanceHistory] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Authorization]    Script Date: 19.12.2023 13:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Authorization]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Authorization](
	[AuthorizationID] [int] IDENTITY(1,1) NOT NULL,
	[AuthroizationName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Authorization] PRIMARY KEY CLUSTERED 
(
	[AuthorizationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Authorization] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[BusinessUnit]    Script Date: 19.12.2023 13:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BusinessUnit]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BusinessUnit](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BusinessUnitName] [nvarchar](50) NULL,
	[BusinessUnitDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_BusinessUnit] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[BusinessUnit] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 19.12.2023 13:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employee]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Employee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[PasswordHash] [varbinary](max) NULL,
	[PasswordSalt] [varbinary](max) NULL,
	[BusinessUnitID] [int] NULL,
	[TitleID] [int] NULL,
	[UpperEmployeeID] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[Employee] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[EmployeeProject]    Script Date: 19.12.2023 13:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeProject]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EmployeeProject](
	[EmployeeID] [int] NOT NULL,
	[ProjectID] [int] NOT NULL,
 CONSTRAINT [PK_EmployeeProject] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC,
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[EmployeeProject] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[LogTable]    Script Date: 19.12.2023 13:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LogTable]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LogTable](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[LogLevel] [nvarchar](10) NULL,
	[Message] [nvarchar](max) NULL,
	[Exception] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK__LogTable__5E5486489B90E57E] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[LogTable] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Page]    Script Date: 19.12.2023 13:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Page]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Page](
	[PageID] [int] IDENTITY(1,1) NOT NULL,
	[PageName] [nvarchar](50) NULL,
	[Path] [nvarchar](50) NULL,
 CONSTRAINT [PK_Page] PRIMARY KEY CLUSTERED 
(
	[PageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Page] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 19.12.2023 13:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Payment]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Payment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DeterminedPaymentDate] [datetime] NULL,
	[FinanceManagerID] [int] NULL,
	[AdvanceID] [int] NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Payment] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Project]    Script Date: 19.12.2023 13:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Project]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Project](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [nvarchar](50) NULL,
	[ProjectDescription] [nvarchar](max) NULL,
	[EndDate] [datetime] NULL,
	[StartingDate] [datetime] NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Project] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Receipt]    Script Date: 19.12.2023 13:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Receipt]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Receipt](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptNo] [nvarchar](50) NULL,
	[isRefundReceipt] [bit] NULL,
	[AdvanceID] [int] NULL,
	[Date] [datetime] NULL,
	[AccountantID] [int] NULL,
 CONSTRAINT [PK_Receipt] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Receipt] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Rule]    Script Date: 19.12.2023 13:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rule]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Rule](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaxAmount] [money] NULL,
	[MinAmount] [money] NULL,
	[Date] [datetime] NULL,
	[TitleID] [int] NULL,
 CONSTRAINT [PK_Rule] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Rule] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Status]    Script Date: 19.12.2023 13:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Status]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Status](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Status] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Title]    Script Date: 19.12.2023 13:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Title]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Title](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TitleName] [nvarchar](50) NULL,
	[TitleDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_Title] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Title] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[TitleAuthorization]    Script Date: 19.12.2023 13:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TitleAuthorization]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TitleAuthorization](
	[TitleID] [int] NOT NULL,
	[AuthorizationID] [int] NOT NULL,
	[PageID] [int] NOT NULL,
 CONSTRAINT [PK_TitleAuthorization] PRIMARY KEY CLUSTERED 
(
	[TitleID] ASC,
	[AuthorizationID] ASC,
	[PageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[TitleAuthorization] TO  SCHEMA OWNER 
GO
SET IDENTITY_INSERT [dbo].[Advance] ON 

INSERT [dbo].[Advance] ([ID], [AdvanceAmount], [AdvanceDescription], [ProjectID], [DesiredDate], [StatusID], [RequestDate], [EmployeeID]) VALUES (3, 2500.0000, N'Avans ödemesi yapıldı.', 3, CAST(N'2023-12-12T00:00:00.000' AS DateTime), 102, CAST(N'2023-12-10T00:00:00.000' AS DateTime), 6)
INSERT [dbo].[Advance] ([ID], [AdvanceAmount], [AdvanceDescription], [ProjectID], [DesiredDate], [StatusID], [RequestDate], [EmployeeID]) VALUES (4, 1400.0000, N'Avans maddi imkansızlıklardan reddedildi', 4, CAST(N'2019-06-20T00:00:00.000' AS DateTime), 103, CAST(N'2022-10-12T00:00:00.000' AS DateTime), 6)
INSERT [dbo].[Advance] ([ID], [AdvanceAmount], [AdvanceDescription], [ProjectID], [DesiredDate], [StatusID], [RequestDate], [EmployeeID]) VALUES (5, 10000.0000, N'Avans ödemesi yüksek miktarda yapıldı', 5, CAST(N'2020-06-20T00:00:00.000' AS DateTime), 207, CAST(N'2020-10-20T00:00:00.000' AS DateTime), 6)
SET IDENTITY_INSERT [dbo].[Advance] OFF
GO
SET IDENTITY_INSERT [dbo].[AdvanceHistory] ON 

INSERT [dbo].[AdvanceHistory] ([ID], [StatusID], [AdvanceID], [TransactorID], [ApprovedAmount], [Date], [IsActive]) VALUES (3, 201, 3, 8, 2500.0000, CAST(N'2023-11-12T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[AdvanceHistory] ([ID], [StatusID], [AdvanceID], [TransactorID], [ApprovedAmount], [Date], [IsActive]) VALUES (4, 202, 3, 8, 2500.0000, CAST(N'2023-12-12T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[AdvanceHistory] ([ID], [StatusID], [AdvanceID], [TransactorID], [ApprovedAmount], [Date], [IsActive]) VALUES (5, 203, 3, 7, 2500.0000, CAST(N'2023-12-13T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[AdvanceHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Authorization] ON 

INSERT [dbo].[Authorization] ([AuthorizationID], [AuthroizationName]) VALUES (1, N'Create')
INSERT [dbo].[Authorization] ([AuthorizationID], [AuthroizationName]) VALUES (2, N'Select')
INSERT [dbo].[Authorization] ([AuthorizationID], [AuthroizationName]) VALUES (3, N'Update')
SET IDENTITY_INSERT [dbo].[Authorization] OFF
GO
SET IDENTITY_INSERT [dbo].[BusinessUnit] ON 

INSERT [dbo].[BusinessUnit] ([ID], [BusinessUnitName], [BusinessUnitDescription]) VALUES (4, N'Yazılımcı', N'Tech ekibi')
INSERT [dbo].[BusinessUnit] ([ID], [BusinessUnitName], [BusinessUnitDescription]) VALUES (5, N'Muhasebe', N'Finansal işlemler')
INSERT [dbo].[BusinessUnit] ([ID], [BusinessUnitName], [BusinessUnitDescription]) VALUES (6, N'İnsan Kaynakları', N'Çalışan memnuniyeti')
SET IDENTITY_INSERT [dbo].[BusinessUnit] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([ID], [Name], [Surname], [PhoneNumber], [Email], [PasswordHash], [PasswordSalt], [BusinessUnitID], [TitleID], [UpperEmployeeID]) VALUES (4, N'Semih', N'Kaya', N'5531106991', N'semihhky@outlook.com', NULL, NULL, 4, 1, 4)
INSERT [dbo].[Employee] ([ID], [Name], [Surname], [PhoneNumber], [Email], [PasswordHash], [PasswordSalt], [BusinessUnitID], [TitleID], [UpperEmployeeID]) VALUES (5, N'Muhammet Enes', N'Ay', N'5551106547', N'menezay@gmail.com', NULL, NULL, 5, 2, 4)
INSERT [dbo].[Employee] ([ID], [Name], [Surname], [PhoneNumber], [Email], [PasswordHash], [PasswordSalt], [BusinessUnitID], [TitleID], [UpperEmployeeID]) VALUES (6, N'Furkan', N'Gökırmak', N'1455789515', N'furkan@mail.com', NULL, NULL, 6, 3, 5)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
INSERT [dbo].[EmployeeProject] ([EmployeeID], [ProjectID]) VALUES (7, 3)
INSERT [dbo].[EmployeeProject] ([EmployeeID], [ProjectID]) VALUES (8, 4)
INSERT [dbo].[EmployeeProject] ([EmployeeID], [ProjectID]) VALUES (1011, 5)
GO
SET IDENTITY_INSERT [dbo].[LogTable] ON 

INSERT [dbo].[LogTable] ([LogId], [LogLevel], [Message], [Exception], [CreatedAt]) VALUES (1, N'Info', N'User profile is available. Using ''C:\Users\ENES\AppData\Local\ASP.NET\DataProtection-Keys'' as key repository and Windows DPAPI to encrypt keys at rest.', N'', CAST(N'2023-12-18T23:28:16.000' AS DateTime))
INSERT [dbo].[LogTable] ([LogId], [LogLevel], [Message], [Exception], [CreatedAt]) VALUES (2, N'Info', N'Application started. Press Ctrl+C to shut down.', N'', CAST(N'2023-12-18T23:28:17.000' AS DateTime))
INSERT [dbo].[LogTable] ([LogId], [LogLevel], [Message], [Exception], [CreatedAt]) VALUES (3, N'Info', N'Hosting environment: Development', N'', CAST(N'2023-12-18T23:28:17.000' AS DateTime))
GO
INSERT [dbo].[LogTable] ([LogId], [LogLevel], [Message], [Exception], [CreatedAt]) VALUES (151, N'Error', N'An unhandled exception has occurred while executing the request.', N'System.InvalidOperationException: Cannot return null from an action method with a return type of ''Microsoft.AspNetCore.Mvc.IActionResult''.
   at Microsoft.AspNetCore.Mvc.Infrastructure.ActionMethodExecutor.EnsureActionResultNotNull(ObjectMethodExecutor executor, IActionResult actionResult)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ActionMethodExecutor.TaskOfIActionResultExecutor.Execute(IActionResultTypeMapper mapper, ObjectMethodExecutor executor, Object controller, Object[] arguments)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeActionMethodAsync>g__Awaited|12_0(ControllerActionInvoker invoker, ValueTask`1 actionResultValueTask)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeNextActionFilterAsync>g__Awaited|10_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Rethrow(ActionExecutedContextSealed context)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Next(State& next, Scope& scope, Object& state, Boolean& isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeInnerFilterAsync>g__Awaited|13_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeFilterPipelineAsync>g__Awaited|19_0(ResourceInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeAsync>g__Logged|17_1(ResourceInvoker invoker)
   at Microsoft.AspNetCore.Routing.EndpointMiddleware.<Invoke>g__AwaitRequestTask|6_0(Endpoint endpoint, Task requestTask, ILogger logger)
   at Microsoft.AspNetCore.Authorization.AuthorizationMiddleware.Invoke(HttpContext context)
   at Microsoft.AspNetCore.Authentication.AuthenticationMiddleware.Invoke(HttpContext context)
   at Swashbuckle.AspNetCore.SwaggerUI.SwaggerUIMiddleware.Invoke(HttpContext httpContext)
   at Swashbuckle.AspNetCore.Swagger.SwaggerMiddleware.Invoke(HttpContext httpContext, ISwaggerProvider swaggerProvider)
   at Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddleware.Invoke(HttpContext context)', CAST(N'2023-12-18T23:31:03.000' AS DateTime))
GO
INSERT [dbo].[LogTable] ([LogId], [LogLevel], [Message], [Exception], [CreatedAt]) VALUES (263, N'Error', N'An unhandled exception has occurred while executing the request.', N'System.InvalidOperationException: Cannot return null from an action method with a return type of ''Microsoft.AspNetCore.Mvc.IActionResult''.
   at Microsoft.AspNetCore.Mvc.Infrastructure.ActionMethodExecutor.EnsureActionResultNotNull(ObjectMethodExecutor executor, IActionResult actionResult)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ActionMethodExecutor.TaskOfIActionResultExecutor.Execute(IActionResultTypeMapper mapper, ObjectMethodExecutor executor, Object controller, Object[] arguments)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeActionMethodAsync>g__Awaited|12_0(ControllerActionInvoker invoker, ValueTask`1 actionResultValueTask)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeNextActionFilterAsync>g__Awaited|10_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Rethrow(ActionExecutedContextSealed context)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Next(State& next, Scope& scope, Object& state, Boolean& isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeInnerFilterAsync>g__Awaited|13_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeFilterPipelineAsync>g__Awaited|19_0(ResourceInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeAsync>g__Logged|17_1(ResourceInvoker invoker)
   at Microsoft.AspNetCore.Routing.EndpointMiddleware.<Invoke>g__AwaitRequestTask|6_0(Endpoint endpoint, Task requestTask, ILogger logger)
   at Microsoft.AspNetCore.Authorization.AuthorizationMiddleware.Invoke(HttpContext context)
   at Microsoft.AspNetCore.Authentication.AuthenticationMiddleware.Invoke(HttpContext context)
   at Swashbuckle.AspNetCore.SwaggerUI.SwaggerUIMiddleware.Invoke(HttpContext httpContext)
   at Swashbuckle.AspNetCore.Swagger.SwaggerMiddleware.Invoke(HttpContext httpContext, ISwaggerProvider swaggerProvider)
   at Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddleware.Invoke(HttpContext context)', CAST(N'2023-12-18T23:33:48.000' AS DateTime))
GO
INSERT [dbo].[LogTable] ([LogId], [LogLevel], [Message], [Exception], [CreatedAt]) VALUES (813, N'Error', N'An unhandled exception has occurred while executing the request.', N'System.InvalidOperationException: Cannot return null from an action method with a return type of ''Microsoft.AspNetCore.Mvc.IActionResult''.
   at Microsoft.AspNetCore.Mvc.Infrastructure.ActionMethodExecutor.EnsureActionResultNotNull(ObjectMethodExecutor executor, IActionResult actionResult)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ActionMethodExecutor.TaskOfIActionResultExecutor.Execute(IActionResultTypeMapper mapper, ObjectMethodExecutor executor, Object controller, Object[] arguments)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeActionMethodAsync>g__Awaited|12_0(ControllerActionInvoker invoker, ValueTask`1 actionResultValueTask)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeNextActionFilterAsync>g__Awaited|10_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Rethrow(ActionExecutedContextSealed context)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Next(State& next, Scope& scope, Object& state, Boolean& isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeInnerFilterAsync>g__Awaited|13_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeFilterPipelineAsync>g__Awaited|19_0(ResourceInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeAsync>g__Logged|17_1(ResourceInvoker invoker)
   at Microsoft.AspNetCore.Routing.EndpointMiddleware.<Invoke>g__AwaitRequestTask|6_0(Endpoint endpoint, Task requestTask, ILogger logger)
   at Microsoft.AspNetCore.Authorization.AuthorizationMiddleware.Invoke(HttpContext context)
   at Microsoft.AspNetCore.Authentication.AuthenticationMiddleware.Invoke(HttpContext context)
   at Swashbuckle.AspNetCore.SwaggerUI.SwaggerUIMiddleware.Invoke(HttpContext httpContext)
   at Swashbuckle.AspNetCore.Swagger.SwaggerMiddleware.Invoke(HttpContext httpContext, ISwaggerProvider swaggerProvider)
   at Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddleware.Invoke(HttpContext context)', CAST(N'2023-12-19T02:58:11.000' AS DateTime))
GO
INSERT [dbo].[LogTable] ([LogId], [LogLevel], [Message], [Exception], [CreatedAt]) VALUES (1294, N'Error', N'An unhandled exception has occurred while executing the request.', N'System.InvalidOperationException: Cannot return null from an action method with a return type of ''Microsoft.AspNetCore.Mvc.IActionResult''.
   at Microsoft.AspNetCore.Mvc.Infrastructure.ActionMethodExecutor.EnsureActionResultNotNull(ObjectMethodExecutor executor, IActionResult actionResult)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ActionMethodExecutor.TaskOfIActionResultExecutor.Execute(IActionResultTypeMapper mapper, ObjectMethodExecutor executor, Object controller, Object[] arguments)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeActionMethodAsync>g__Awaited|12_0(ControllerActionInvoker invoker, ValueTask`1 actionResultValueTask)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeNextActionFilterAsync>g__Awaited|10_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Rethrow(ActionExecutedContextSealed context)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Next(State& next, Scope& scope, Object& state, Boolean& isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeInnerFilterAsync>g__Awaited|13_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeFilterPipelineAsync>g__Awaited|19_0(ResourceInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeAsync>g__Logged|17_1(ResourceInvoker invoker)
   at Microsoft.AspNetCore.Routing.EndpointMiddleware.<Invoke>g__AwaitRequestTask|6_0(Endpoint endpoint, Task requestTask, ILogger logger)
   at Microsoft.AspNetCore.Authorization.AuthorizationMiddleware.Invoke(HttpContext context)
   at Microsoft.AspNetCore.Authentication.AuthenticationMiddleware.Invoke(HttpContext context)
   at Swashbuckle.AspNetCore.SwaggerUI.SwaggerUIMiddleware.Invoke(HttpContext httpContext)
   at Swashbuckle.AspNetCore.Swagger.SwaggerMiddleware.Invoke(HttpContext httpContext, ISwaggerProvider swaggerProvider)
   at Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddleware.Invoke(HttpContext context)', CAST(N'2023-12-19T11:44:47.000' AS DateTime))
GO
INSERT [dbo].[LogTable] ([LogId], [LogLevel], [Message], [Exception], [CreatedAt]) VALUES (1364, N'Error', N'An unhandled exception has occurred while executing the request.', N'System.InvalidOperationException: Cannot return null from an action method with a return type of ''Microsoft.AspNetCore.Mvc.IActionResult''.
   at Microsoft.AspNetCore.Mvc.Infrastructure.ActionMethodExecutor.EnsureActionResultNotNull(ObjectMethodExecutor executor, IActionResult actionResult)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ActionMethodExecutor.TaskOfIActionResultExecutor.Execute(IActionResultTypeMapper mapper, ObjectMethodExecutor executor, Object controller, Object[] arguments)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeActionMethodAsync>g__Awaited|12_0(ControllerActionInvoker invoker, ValueTask`1 actionResultValueTask)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeNextActionFilterAsync>g__Awaited|10_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Rethrow(ActionExecutedContextSealed context)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Next(State& next, Scope& scope, Object& state, Boolean& isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeInnerFilterAsync>g__Awaited|13_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeFilterPipelineAsync>g__Awaited|19_0(ResourceInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeAsync>g__Logged|17_1(ResourceInvoker invoker)
   at Microsoft.AspNetCore.Routing.EndpointMiddleware.<Invoke>g__AwaitRequestTask|6_0(Endpoint endpoint, Task requestTask, ILogger logger)
   at Microsoft.AspNetCore.Authorization.AuthorizationMiddleware.Invoke(HttpContext context)
   at Microsoft.AspNetCore.Authentication.AuthenticationMiddleware.Invoke(HttpContext context)
   at Swashbuckle.AspNetCore.SwaggerUI.SwaggerUIMiddleware.Invoke(HttpContext httpContext)
   at Swashbuckle.AspNetCore.Swagger.SwaggerMiddleware.Invoke(HttpContext httpContext, ISwaggerProvider swaggerProvider)
   at Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddleware.Invoke(HttpContext context)', CAST(N'2023-12-19T11:45:24.000' AS DateTime))
GO
INSERT [dbo].[LogTable] ([LogId], [LogLevel], [Message], [Exception], [CreatedAt]) VALUES (1427, N'Error', N'An unhandled exception has occurred while executing the request.', N'System.InvalidOperationException: Cannot return null from an action method with a return type of ''Microsoft.AspNetCore.Mvc.IActionResult''.
   at Microsoft.AspNetCore.Mvc.Infrastructure.ActionMethodExecutor.EnsureActionResultNotNull(ObjectMethodExecutor executor, IActionResult actionResult)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ActionMethodExecutor.TaskOfIActionResultExecutor.Execute(IActionResultTypeMapper mapper, ObjectMethodExecutor executor, Object controller, Object[] arguments)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeActionMethodAsync>g__Awaited|12_0(ControllerActionInvoker invoker, ValueTask`1 actionResultValueTask)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeNextActionFilterAsync>g__Awaited|10_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Rethrow(ActionExecutedContextSealed context)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Next(State& next, Scope& scope, Object& state, Boolean& isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeInnerFilterAsync>g__Awaited|13_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeFilterPipelineAsync>g__Awaited|19_0(ResourceInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeAsync>g__Logged|17_1(ResourceInvoker invoker)
   at Microsoft.AspNetCore.Routing.EndpointMiddleware.<Invoke>g__AwaitRequestTask|6_0(Endpoint endpoint, Task requestTask, ILogger logger)
   at Microsoft.AspNetCore.Authorization.AuthorizationMiddleware.Invoke(HttpContext context)
   at Microsoft.AspNetCore.Authentication.AuthenticationMiddleware.Invoke(HttpContext context)
   at Swashbuckle.AspNetCore.SwaggerUI.SwaggerUIMiddleware.Invoke(HttpContext httpContext)
   at Swashbuckle.AspNetCore.Swagger.SwaggerMiddleware.Invoke(HttpContext httpContext, ISwaggerProvider swaggerProvider)
   at Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddleware.Invoke(HttpContext context)', CAST(N'2023-12-19T11:46:38.000' AS DateTime))
INSERT [dbo].[LogTable] ([LogId], [LogLevel], [Message], [Exception], [CreatedAt]) VALUES (1490, N'Error', N'An unhandled exception has occurred while executing the request.', N'System.InvalidOperationException: Cannot return null from an action method with a return type of ''Microsoft.AspNetCore.Mvc.IActionResult''.
   at Microsoft.AspNetCore.Mvc.Infrastructure.ActionMethodExecutor.EnsureActionResultNotNull(ObjectMethodExecutor executor, IActionResult actionResult)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ActionMethodExecutor.TaskOfIActionResultExecutor.Execute(IActionResultTypeMapper mapper, ObjectMethodExecutor executor, Object controller, Object[] arguments)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeActionMethodAsync>g__Awaited|12_0(ControllerActionInvoker invoker, ValueTask`1 actionResultValueTask)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeNextActionFilterAsync>g__Awaited|10_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Rethrow(ActionExecutedContextSealed context)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Next(State& next, Scope& scope, Object& state, Boolean& isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeInnerFilterAsync>g__Awaited|13_0(ControllerActionInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeFilterPipelineAsync>g__Awaited|19_0(ResourceInvoker invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)
   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeAsync>g__Logged|17_1(ResourceInvoker invoker)
   at Microsoft.AspNetCore.Routing.EndpointMiddleware.<Invoke>g__AwaitRequestTask|6_0(Endpoint endpoint, Task requestTask, ILogger logger)
   at Microsoft.AspNetCore.Authorization.AuthorizationMiddleware.Invoke(HttpContext context)
   at Microsoft.AspNetCore.Authentication.AuthenticationMiddleware.Invoke(HttpContext context)
   at Swashbuckle.AspNetCore.SwaggerUI.SwaggerUIMiddleware.Invoke(HttpContext httpContext)
   at Swashbuckle.AspNetCore.Swagger.SwaggerMiddleware.Invoke(HttpContext httpContext, ISwaggerProvider swaggerProvider)
   at Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddleware.Invoke(HttpContext context)', CAST(N'2023-12-19T11:47:17.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[LogTable] OFF
GO
SET IDENTITY_INSERT [dbo].[Page] ON 

INSERT [dbo].[Page] ([PageID], [PageName], [Path]) VALUES (2, N'Avans Talep Sayfası', N'/avanstalep')
INSERT [dbo].[Page] ([PageID], [PageName], [Path]) VALUES (3, N'Avans Onay', N'/avansonay')
INSERT [dbo].[Page] ([PageID], [PageName], [Path]) VALUES (4, N'Avans Geri ödeme', N'/avansgeriodeme')
SET IDENTITY_INSERT [dbo].[Page] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([ID], [DeterminedPaymentDate], [FinanceManagerID], [AdvanceID]) VALUES (3, CAST(N'2023-12-12T00:00:00.000' AS DateTime), 6, NULL)
INSERT [dbo].[Payment] ([ID], [DeterminedPaymentDate], [FinanceManagerID], [AdvanceID]) VALUES (4, CAST(N'2022-11-24T00:00:00.000' AS DateTime), 6, NULL)
INSERT [dbo].[Payment] ([ID], [DeterminedPaymentDate], [FinanceManagerID], [AdvanceID]) VALUES (5, CAST(N'2020-06-10T00:00:00.000' AS DateTime), 6, NULL)
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Project] ON 

INSERT [dbo].[Project] ([ID], [ProjectName], [ProjectDescription], [EndDate], [StartingDate]) VALUES (3, N'Turkcell Varlık Zimmet Projesi', N'Bu projede varlıkların zimmete atanma durumları kontrol edilir.', CAST(N'2023-12-12T00:00:00.000' AS DateTime), CAST(N'2022-12-12T00:00:00.000' AS DateTime))
INSERT [dbo].[Project] ([ID], [ProjectName], [ProjectDescription], [EndDate], [StartingDate]) VALUES (4, N'Avans Projesi', N'Proje avans yönetimi gerçekleştirir', CAST(N'2022-11-24T00:00:00.000' AS DateTime), CAST(N'2019-10-15T00:00:00.000' AS DateTime))
INSERT [dbo].[Project] ([ID], [ProjectName], [ProjectDescription], [EndDate], [StartingDate]) VALUES (5, N'Fineksus FM projesi', N'FM Tech', CAST(N'2022-05-20T00:00:00.000' AS DateTime), CAST(N'2020-05-20T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Project] OFF
GO
SET IDENTITY_INSERT [dbo].[Receipt] ON 

INSERT [dbo].[Receipt] ([ID], [ReceiptNo], [isRefundReceipt], [AdvanceID], [Date], [AccountantID]) VALUES (2, N'1452156', 1, 3, CAST(N'2023-05-12T00:00:00.000' AS DateTime), 9)
INSERT [dbo].[Receipt] ([ID], [ReceiptNo], [isRefundReceipt], [AdvanceID], [Date], [AccountantID]) VALUES (3, N'5666355', 1, 4, CAST(N'2022-05-20T00:00:00.000' AS DateTime), 9)
INSERT [dbo].[Receipt] ([ID], [ReceiptNo], [isRefundReceipt], [AdvanceID], [Date], [AccountantID]) VALUES (4, N'6544532', 0, 5, CAST(N'2023-02-02T00:00:00.000' AS DateTime), 9)
SET IDENTITY_INSERT [dbo].[Receipt] OFF
GO
SET IDENTITY_INSERT [dbo].[Rule] ON 

INSERT [dbo].[Rule] ([ID], [MaxAmount], [MinAmount], [Date], [TitleID]) VALUES (1, 1000.0000, 0.0000, CAST(N'2023-12-11T00:00:00.000' AS DateTime), 5)
INSERT [dbo].[Rule] ([ID], [MaxAmount], [MinAmount], [Date], [TitleID]) VALUES (2, 5000.0000, 1001.0000, CAST(N'2023-12-11T00:00:00.000' AS DateTime), 4)
INSERT [dbo].[Rule] ([ID], [MaxAmount], [MinAmount], [Date], [TitleID]) VALUES (3, 10000.0000, 5001.0000, CAST(N'2023-12-11T00:00:00.000' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Rule] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([ID], [StatusName]) VALUES (101, N'Bekliyor')
INSERT [dbo].[Status] ([ID], [StatusName]) VALUES (102, N'Onaylandı')
INSERT [dbo].[Status] ([ID], [StatusName]) VALUES (103, N'Reddedildi')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Title] ON 

INSERT [dbo].[Title] ([ID], [TitleName], [TitleDescription]) VALUES (1, N'Genel Müdür', N'Genel Müdür')
INSERT [dbo].[Title] ([ID], [TitleName], [TitleDescription]) VALUES (2, N'Genel Müdür Yardımcısı', N'Gmy')
INSERT [dbo].[Title] ([ID], [TitleName], [TitleDescription]) VALUES (3, N'Finans Müdürü', N'Finans müdürü')
SET IDENTITY_INSERT [dbo].[Title] OFF
GO
INSERT [dbo].[TitleAuthorization] ([TitleID], [AuthorizationID], [PageID]) VALUES (1, 1, 2)
INSERT [dbo].[TitleAuthorization] ([TitleID], [AuthorizationID], [PageID]) VALUES (1, 1, 3)
INSERT [dbo].[TitleAuthorization] ([TitleID], [AuthorizationID], [PageID]) VALUES (1, 2, 2)
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Advance_Employee]') AND parent_object_id = OBJECT_ID(N'[dbo].[Advance]'))
ALTER TABLE [dbo].[Advance]  WITH CHECK ADD  CONSTRAINT [FK_Advance_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Advance_Employee]') AND parent_object_id = OBJECT_ID(N'[dbo].[Advance]'))
ALTER TABLE [dbo].[Advance] CHECK CONSTRAINT [FK_Advance_Employee]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Advance_Project]') AND parent_object_id = OBJECT_ID(N'[dbo].[Advance]'))
ALTER TABLE [dbo].[Advance]  WITH CHECK ADD  CONSTRAINT [FK_Advance_Project] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Project] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Advance_Project]') AND parent_object_id = OBJECT_ID(N'[dbo].[Advance]'))
ALTER TABLE [dbo].[Advance] CHECK CONSTRAINT [FK_Advance_Project]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Advance_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[Advance]'))
ALTER TABLE [dbo].[Advance]  WITH CHECK ADD  CONSTRAINT [FK_Advance_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Advance_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[Advance]'))
ALTER TABLE [dbo].[Advance] CHECK CONSTRAINT [FK_Advance_Status]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AdvanceHistory_Advance]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdvanceHistory]'))
ALTER TABLE [dbo].[AdvanceHistory]  WITH CHECK ADD  CONSTRAINT [FK_AdvanceHistory_Advance] FOREIGN KEY([AdvanceID])
REFERENCES [dbo].[Advance] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AdvanceHistory_Advance]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdvanceHistory]'))
ALTER TABLE [dbo].[AdvanceHistory] CHECK CONSTRAINT [FK_AdvanceHistory_Advance]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AdvanceHistory_Employee]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdvanceHistory]'))
ALTER TABLE [dbo].[AdvanceHistory]  WITH CHECK ADD  CONSTRAINT [FK_AdvanceHistory_Employee] FOREIGN KEY([TransactorID])
REFERENCES [dbo].[Employee] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AdvanceHistory_Employee]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdvanceHistory]'))
ALTER TABLE [dbo].[AdvanceHistory] CHECK CONSTRAINT [FK_AdvanceHistory_Employee]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AdvanceHistory_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdvanceHistory]'))
ALTER TABLE [dbo].[AdvanceHistory]  WITH CHECK ADD  CONSTRAINT [FK_AdvanceHistory_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AdvanceHistory_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[AdvanceHistory]'))
ALTER TABLE [dbo].[AdvanceHistory] CHECK CONSTRAINT [FK_AdvanceHistory_Status]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Employee_BusinessUnit]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employee]'))
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_BusinessUnit] FOREIGN KEY([BusinessUnitID])
REFERENCES [dbo].[BusinessUnit] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Employee_BusinessUnit]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employee]'))
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_BusinessUnit]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Employee_Employee]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employee]'))
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Employee] FOREIGN KEY([UpperEmployeeID])
REFERENCES [dbo].[Employee] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Employee_Employee]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employee]'))
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Employee]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Employee_Title]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employee]'))
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Title] FOREIGN KEY([TitleID])
REFERENCES [dbo].[Title] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Employee_Title]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employee]'))
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Title]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EmployeeProject_Employee]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeProject]'))
ALTER TABLE [dbo].[EmployeeProject]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeProject_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EmployeeProject_Employee]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeProject]'))
ALTER TABLE [dbo].[EmployeeProject] CHECK CONSTRAINT [FK_EmployeeProject_Employee]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EmployeeProject_Project]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeProject]'))
ALTER TABLE [dbo].[EmployeeProject]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeProject_Project] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Project] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EmployeeProject_Project]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeProject]'))
ALTER TABLE [dbo].[EmployeeProject] CHECK CONSTRAINT [FK_EmployeeProject_Project]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Payment_Advance]') AND parent_object_id = OBJECT_ID(N'[dbo].[Payment]'))
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Advance] FOREIGN KEY([AdvanceID])
REFERENCES [dbo].[Advance] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Payment_Advance]') AND parent_object_id = OBJECT_ID(N'[dbo].[Payment]'))
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Advance]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Payment_Employee]') AND parent_object_id = OBJECT_ID(N'[dbo].[Payment]'))
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Employee] FOREIGN KEY([FinanceManagerID])
REFERENCES [dbo].[Employee] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Payment_Employee]') AND parent_object_id = OBJECT_ID(N'[dbo].[Payment]'))
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Employee]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Receipt_Advance]') AND parent_object_id = OBJECT_ID(N'[dbo].[Receipt]'))
ALTER TABLE [dbo].[Receipt]  WITH CHECK ADD  CONSTRAINT [FK_Receipt_Advance] FOREIGN KEY([AdvanceID])
REFERENCES [dbo].[Advance] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Receipt_Advance]') AND parent_object_id = OBJECT_ID(N'[dbo].[Receipt]'))
ALTER TABLE [dbo].[Receipt] CHECK CONSTRAINT [FK_Receipt_Advance]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Receipt_Employee]') AND parent_object_id = OBJECT_ID(N'[dbo].[Receipt]'))
ALTER TABLE [dbo].[Receipt]  WITH CHECK ADD  CONSTRAINT [FK_Receipt_Employee] FOREIGN KEY([AccountantID])
REFERENCES [dbo].[Employee] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Receipt_Employee]') AND parent_object_id = OBJECT_ID(N'[dbo].[Receipt]'))
ALTER TABLE [dbo].[Receipt] CHECK CONSTRAINT [FK_Receipt_Employee]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Rule_Title]') AND parent_object_id = OBJECT_ID(N'[dbo].[Rule]'))
ALTER TABLE [dbo].[Rule]  WITH CHECK ADD  CONSTRAINT [FK_Rule_Title] FOREIGN KEY([TitleID])
REFERENCES [dbo].[Title] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Rule_Title]') AND parent_object_id = OBJECT_ID(N'[dbo].[Rule]'))
ALTER TABLE [dbo].[Rule] CHECK CONSTRAINT [FK_Rule_Title]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TitleAuthorization_Authorization]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAuthorization]'))
ALTER TABLE [dbo].[TitleAuthorization]  WITH CHECK ADD  CONSTRAINT [FK_TitleAuthorization_Authorization] FOREIGN KEY([AuthorizationID])
REFERENCES [dbo].[Authorization] ([AuthorizationID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TitleAuthorization_Authorization]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAuthorization]'))
ALTER TABLE [dbo].[TitleAuthorization] CHECK CONSTRAINT [FK_TitleAuthorization_Authorization]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TitleAuthorization_Page]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAuthorization]'))
ALTER TABLE [dbo].[TitleAuthorization]  WITH CHECK ADD  CONSTRAINT [FK_TitleAuthorization_Page] FOREIGN KEY([PageID])
REFERENCES [dbo].[Page] ([PageID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TitleAuthorization_Page]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAuthorization]'))
ALTER TABLE [dbo].[TitleAuthorization] CHECK CONSTRAINT [FK_TitleAuthorization_Page]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TitleAuthorization_Title]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAuthorization]'))
ALTER TABLE [dbo].[TitleAuthorization]  WITH CHECK ADD  CONSTRAINT [FK_TitleAuthorization_Title] FOREIGN KEY([TitleID])
REFERENCES [dbo].[Title] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TitleAuthorization_Title]') AND parent_object_id = OBJECT_ID(N'[dbo].[TitleAuthorization]'))
ALTER TABLE [dbo].[TitleAuthorization] CHECK CONSTRAINT [FK_TitleAuthorization_Title]
GO
USE [master]
GO
